* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
}

header {
  background-color: #DAD6D6;
  color: #4B2D4B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90vh;
}

header h1 {
  font-size: 3.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h2 {
  font-size: 2em;
}

h1, h2, h3, h4 {
  color: #4B2D4B;
}

.notification {
  font-size: 2em;
  text-align: center;
  height: 10vh;
  background-color: #DAD6D6;
}

.notification a {
  color: #4B2D4B;
  cursor: pointer;
  opacity: 0.6;
}

.notification .fa-angle-down {
  font-size: 2em;
}

.notification .bounce {
  display: inline-block;
  position: relative;
  -webkit-animation: bounce 1s infinite linear;
  animation: bounce 1s infinite linear;
}

@-webkit-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}

@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}

section {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .header {
  font-size: 2.5em;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
  border-bottom: 5px solid #FFA500;
}

section .detail {
  padding: 0 10px;
}

section small {
  text-align: center;
}

.detail {
  margin: 20px;
}

.detail .box {
  z-index: 1;
  padding: 10px;
}

.detail .box h3 {
  font-size: 1.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid #DAD6D6;
}

.detail .box p {
  padding: 10px;
  text-align: justify;
  font-size: 1.2em;
}

nav {
  z-index: 2;
  background-color: #FFA500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav a {
  text-decoration: none;
  color: #4B2D4B;
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 0;
}

#projectDatabase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#projectDatabase .regular {
  height: 450px;
}

#projectDatabase .prjBox {
  width: 350px;
  position: relative;
  margin: 20px 0;
}

#projectDatabase .prjBox p {
  font-size: 1em;
  padding: 20px 20px 0 20px;
}

#projectDatabase .prjBox .description {
  display: none;
}

#projectDatabase .prjBox .prjImage {
  position: absolute;
  bottom: 55px;
  height: 200px;
  width: 95%;
  border: 2px solid #4B2D4B;
}

#projectDatabase .prjBox .prjImage img {
  height: 100%;
  width: 100%;
}

#projectDatabase .prjBox .launch {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 50px;
  font-size: 2.5em;
  padding: 5px;
}

#projectDatabase .prjBox .launch a {
  text-decoration: none;
  color: #4B2D4B;
  cursor: pointer;
}

#projectDatabase .prjBox:hover {
  background-color: #DAD6D6;
  opacity: 0.8;
}

#projectDatabase .prjBox:hover h3 {
  border-bottom: 2px solid white;
}

#projectDatabase .prjBox:hover .description {
  display: block;
}

#projectDatabase .prjBox:hover .prjImage {
  display: none;
}

.skillsection {
  text-align: center;
}

.skills .icons {
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.skills .icons i {
  font-size: 2em;
  color: #4B2D4B;
}

.skills .books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
}

.skills .books .book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #DAD6D6;
  color: #4B2D4B;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: auto 0;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.skills .books .book:nth-child(even) {
  background-color: #4B2D4B;
  color: #e7e4e4;
  width: 90%;
}

.skills .books .book .title {
  font-size: 1.4em;
  text-align: center;
}

.skills .books .book .description {
  font-size: 1em;
  display: none;
  text-align: center;
}

.skills .books .book:hover .title {
  display: none;
}

.skills .books .book:hover .description {
  display: block;
}

.skills .books #one {
  height: 30px;
  width: 85%;
}

.skills .books #two {
  width: 60%;
}

.skills .books #three, .skills .books #six {
  height: 60px;
}

.skills .books #four {
  height: 50px;
}

.skills .books #five {
  width: 75%;
  height: 45px;
}

.skills .books #six {
  width: 95%;
}

.skills .books #seven {
  height: 50px;
}

.skills .books #eight {
  height: 80px;
  width: 75%;
}

.launchable {
  position: relative;
  height: 100%;
}

.launchable .launch {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 2em;
  padding: 5px;
}

.launchable .launch a {
  text-decoration: none;
  color: #4B2D4B;
  cursor: pointer;
}

.launchable:hover {
  background-color: #DAD6D6;
  opacity: 0.8;
}

.launchable:hover h3 {
  border-bottom: 2px solid white;
}

.contactLinks {
  text-align: center;
}

.contactLinks a {
  padding: 10px;
  text-decoration: none;
  font-size: 5em;
  cursor: pointer;
  color: #4B2D4B;
}

.contactLinks a:hover {
  color: #DAD6D6;
}

#cv {
  font-size: 2.5em;
  background-color: #DAD6D6;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10px;
  bottom: 10px;
}

#cv:hover {
  background-color: #4B2D4B;
}

#cv:hover a {
  color: #e7e4e4;
}

#cv a {
  text-decoration: none;
  color: #4B2D4B;
  cursor: pointer;
  font-weight: bold;
}

footer {
  background-color: #FFA500;
  height: 50px;
  padding: 10px 20px;
  text-align: right;
}

footer button {
  color: #e7e4e4;
  text-decoration: none;
  font-size: 1em;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #4B2D4B;
  cursor: pointer;
}

footer button:hover {
  background-color: #e7e4e4;
  color: #4B2D4B;
}

@media screen and (max-width: 370px) {
  header h1 {
    font-size: 3em;
  }
}

@media screen and (min-width: 900px) {
  header h1 {
    font-size: 6em;
  }
  header h2 {
    font-size: 3em;
  }
  nav a {
    font-size: 2.2em;
  }
  section {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section .header {
    width: 90%;
  }
  section .detail {
    padding: 2vh 5vw;
  }
  section .detail .box p {
    font-size: 1.4em;
    padding: 10px 30px;
  }
  .skillsection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .skillsection .skills {
    width: 70%;
  }
}
/*# sourceMappingURL=main.css.map */