$background-color: white ;
$font-color: black;
$header-color: #FFA500;

$purple:#4B2D4B;
$orange: #FFA500;
$grey1: white;
$grey2: #e7e4e4;
$grey3: #DAD6D6;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: $background-color;
    color: $font-color;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}

header {
    background-color: $grey3;
    color: $purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;

    h1 {
        font-size: 3.5em;
        display: flex;
        align-items: center;
    }

    h2 {
        font-size: 2em;
    }
    
}

h1, h2, h3, h4 {
    color: $purple;
}

.notification {
    font-size: 2em;
    text-align: center;
    height: 10vh;
    background-color: $grey3;

    a {
        color: $purple;
        cursor: pointer;
        opacity: 0.6;
    }

    .fa-angle-down {
        font-size: 2em;                
    }

    .bounce {
        display: inline-block;
        position: relative;
        -moz-animation: bounce 1s infinite linear;
        -o-animation: bounce 1s infinite linear;
        -webkit-animation: bounce 1s infinite linear;
        animation: bounce 1s infinite linear;

    }

    @keyframes bounce {
        0% { top: 0; }
        50% { top: -0.2em; }
        70% { top: -0.3em; }
        100% { top: 0; }
    }
}

section {
    height: auto;
    display: flex;
    flex-direction: column;

    .header {
        font-size: 2.5em;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px;
        border-bottom: 5px solid $orange;
    }

    .detail {
        padding: 0 10px;
    }

    small {
        text-align: center;
    }
}

.detail {
    margin: 20px;

    .box {
        z-index: 1;
        padding: 10px;

        h3 {
            font-size: 1.5em;
            padding-bottom: 10px;
            border-bottom: 2px solid $grey3;

        }

        p {
            padding: 10px;
            text-align: justify;
            font-size: 1.2em;
        }
    }
}

nav {
    z-index: 2;
    background-color: $orange;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;

    a{
        text-decoration: none;
        color: $purple;
        font-size: 1.5em;
        font-weight: bold;
        padding: 10px 0;
    }
}

#projectDatabase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .regular {
        height: 450px;
    }

    .prjBox {
        width: 350px;
        position: relative;
        margin: 20px 0;

        p {
            font-size: 1em;
            padding: 20px 20px 0 20px;
        }

        .description {
            display: none;
        }

        .prjImage {
            position: absolute;
            bottom: 55px;
            height: 200px;
            width: 95%;
            border: 2px solid $purple;

            img {
                height: 100%;
                width: 100%;
            }

        }

        .launch {
            position: absolute;
            bottom: 0;
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            height: 50px;
            font-size: 2.5em;
            padding: 5px;

            a {
                text-decoration: none;
                color: $purple;
                cursor: pointer;
            }
        }
        
        &:hover {
            background-color: $grey3;
            opacity: 0.8;

            h3 {
                border-bottom: 2px solid $grey1;
            }

            .description {
                display: block;
            }

            .prjImage {
                display: none;
            }
        }
    }
}

.skillsection {
    text-align: center;
}

.skills {
    .icons {
        padding-bottom: 20px;
        display: flex;
        justify-content: space-evenly;
        
        i {
            font-size: 2em;
            color: $purple;
        }
    }

    .books {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5px;

        .book {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $grey3;
            color: $purple;
            width: 100%;
            height: 40px;
            border-radius: 5px;
            padding: auto 0;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);

            

            &:nth-child(even){
                background-color: $purple;
                color: $grey2;
                width: 90%;
            }

            .title {
                font-size: 1.4em;
                text-align: center;
            }

            .description {
                font-size: 1em;
                display: none;
                text-align: center;
            }

            &:hover {
                .title {
                    display: none;
                }
                .description {
                    display: block;
                }
            }
        }
        #one {
            height: 30px;
            width: 85%;
        }
        #two {
            width: 60%;
        }
        #three, #six {
            height: 60px;
        }
        #four {
            height: 50px;
        }
        #five {
            width: 75%;
            height: 45px;
        }
        #six {
            width: 95%;
        }
        #seven {
            height: 50px;
        }
        #eight {
            height: 80px;
            width: 75%;
        }
        
    }
}

.launchable {
    position: relative;
    height: 100%;

    .launch {
        position: absolute;
        bottom: 0;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        font-size: 2em;
        padding: 5px;

        a {
            text-decoration: none;
            color: $purple;
            cursor: pointer;
        }
    }
    
    &:hover {
        background-color: $grey3;
        opacity: 0.8;

        h3 {
            border-bottom: 2px solid $grey1;
        }

    }
    
}

.contactLinks {
    text-align: center;

    a {
    padding: 10px;
    text-decoration: none;
    font-size: 5em;
    cursor: pointer;
    color: $purple;
    
        &:hover {
            color: $grey3;
        }

    }
}


#cv {
    font-size: 2.5em;
    background-color: $grey3;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    bottom: 10px;
    
    &:hover {
        background-color: $purple;
        a {
            color: $grey2;
        }
    }

    a {
        text-decoration: none;
        color: $purple;
        cursor: pointer;
        font-weight: bold;
    }
}


footer {
    background-color: $orange;
    height: 50px;
    padding: 10px 20px;
    text-align: right;

    button {
        color: $grey2;
        text-decoration: none;
        font-size: 1em;
        padding: 5px;
        border: 1px solid transparent;
        border-radius: 5px;
        background-color: $purple;
        cursor: pointer;

        &:hover {
            background-color: $grey2;
            color: $purple;
        }
    }
}

@media screen and (max-width: 370px) {
    header {
        h1 {
            font-size: 3em;
        }
    }
}

@media screen and (min-width: 900px) {
    header {
        h1 {
            font-size: 6em;
        }
        h2 {
            font-size: 3em;
        }
    }

    nav {
        a {
            font-size: 2.2em;
        }
    }

    section {
        align-items: center;

        .header {
            width: 90%;
        }

        .detail {
            padding: 2vh 5vw;

            .box p {
                font-size: 1.4em;
                padding: 10px 30px;
            }
        }
    }

    .skillsection {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .skills {
            width: 70%;
        }
    }
}