$background-color: #f9f9f9 ;
$font-color: #4B2D4B ;
$header-color: #FFA500;

$purple:#4B2D4B;
$orange: #FFA500;
$grey1: #f9f9f9;
$grey2: #e7e4e4;
$grey3: #DAD6D6;

$highlight-border: 2px solid greenyellow;

// comment

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: $background-color;
    color: $font-color;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
}

header {
    background-color: $grey3;
    color: $purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 94vh;

    h1 {
        font-size: 4em;
        display: flex;
        align-items: center;
    }

    h2 {
        font-size: 2em;
    }
    
}

.notification {
    font-size: 2em;
    text-align: center;
    height: 6vh;
    background-color: $grey3;

    a {
        color: $purple;
        cursor: pointer;
        opacity: 0.6;
    }

    .fa-angle-down {
        font-size: 2em;          
    }

    .bounce {
        display: inline-block;
        position: relative;
        -moz-animation: bounce 1s infinite linear;
        -o-animation: bounce 1s infinite linear;
        -webkit-animation: bounce 1s infinite linear;
        animation: bounce 1s infinite linear;

    }

    @keyframes bounce {
        0% { top: 0; }
        50% { top: -0.2em; }
        70% { top: -0.3em; }
        100% { top: 0; }
    }
}

section {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;

    .header {
        font-size: 2.5em;
        background-color: $orange;
        height: 10vh;
        display: flex;
        align-items: center;
        padding-left: 10px;
    }

    .detail {
        padding: 0 10px;
    }
}

.detail {
    margin: 5px;
    display: grid;

    .box {
        z-index: 1;
        height: 20vh;
        padding: 10px;

        h3 {
            font-size: 1.5em;
            padding-bottom: 10px;
            border-bottom: 2px solid $grey3;

        }

        p {
            padding: 5px 0;
            text-align: justify;
        }
    }

}

#projects {
    grid-template-areas:
    "prj1 prj1"
    "prj2 prj3"
    "prj4 prj4"
    "prj5 prj6"
    "prj7 prj7"
    "prj8 prj9"
    "prj10 prj10";
    grid-gap: 5px;

    #prj1 {
        grid-area: prj1;
    }

    #prj2 {
        grid-area: prj2;
    }

    #prj3 {
        grid-area: prj3;
    }

    #prj4 {
        grid-area: prj4;
    }

    #prj5 {
        grid-area: prj5;
    }

    #prj6 {
        grid-area: prj6;
    }

    #prj7 {
        grid-area: prj7;
    }

    #prj8 {
        grid-area: prj8;
    }

    #prj9 {
        grid-area: prj9;
    }

    #prj10 {
        grid-area: prj10;
    }

    .prjBox {
        .launch {
            display: flex;
            justify-content: space-evenly;
            font-size: 2em;
            padding: 5px;

            a {
                text-decoration: none;
                color: $purple;
                cursor: pointer;
            }
        }
        
        &:hover {
            background-color: $purple;
            color: $grey3;
            opacity: 0.8;

            a {
                color: $grey3;
            }

        }
        
    }
}

#abouts {
    height: auto;
    grid-template-areas: 
    "abt1"
    "abt2"
    "abt3";

    #abt1 {
        grid-area: abt1;
    }

    #abt2 {
        grid-area: abt2;
    }

    #abt3 {
        grid-area: abt3;
    }

    .abtBox {
        height: auto;
        text-align: justify;
    }
}

#contacts {
    height: auto;
    grid-template-areas:
    "cntct1"
    "cntct2"
    "cntct3";

    #cntct1 {
        grid-area: cntct1;
    }

    #cntct2 {
        grid-area: cntct2;
    }

    #cntct3 {
        grid-area: cntct3;
    }

    .cntctBox {
        height: auto;
        text-align: justify;
    }
}

#cv {
    font-size: 2.5em;
    background-color: $grey1;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    border-top: $orange 1px dotted;
    
    &:hover {
        background-color: $orange;
    }

    a {
        text-decoration: none;
        color: $purple;
        cursor: pointer;
        font-weight: bold;
    }
}


footer {
    background-color: $grey3;
    width: 100vw;
    padding: 10px 20px;
    bottom: 0;
    text-align: right;

    button {
        color: $grey2;
        text-decoration: none;
        font-size: 1em;
        padding: 5px;
        border: 1px solid transparent;
        border-radius: 5px;
        background-color: $purple;
        cursor: pointer;
    }
}

/* tablets and above */
@media screen and (min-width: 787px) {

    header {
        h1 {
            font-size: 6em;
        }
        h2 {
            font-size: 3em;
        }
    }

    section {
        height: 95vh;

        &:nth-child(odd) {
            flex-direction: row;

            .header h3 {
                transform: rotate(-90deg);
            }
        }

        &:nth-child(even) {
            flex-direction: row-reverse;

            .header h3 {
                transform: rotate(90deg);
            }
        }

        .header {
            // height: 102vh;
            width: 10vw;
            padding-left: 0;
            justify-content: center;
            box-shadow: black;   
        }

        #prjh3, #abth3 {
            height: 105vh;
        }

        #cntcth3 {
            height: 100%;
        }
    }
    
    #projects {
        margin: auto;
        display: grid;
        grid-template-areas:
        "prj1 prj1 prj2 prj3"
        "prj4 prj5 prj5 prj5"
        "prj6 prj6 prj7 prj8"
        "prj9 prj10 prj10 prj10";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
    }

    .prjBox {
        height: auto;
    }

    #abouts {
        margin: auto;
        grid-template-areas: 
        "abt1 abt2"
        "abt1 abt3";
        grid-template-columns: 2fr 3fr;
    }

    #contacts {
        margin: auto;
        grid-template-areas: 
        "cntct1 cntct3"
        "cntct2 cntct3";
        grid-template-columns: 3fr 2fr;
    }
}