* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
    color: #4B2D4B;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}
/* set up classes for light and dark stuff to make it easier to change */
header {
    background-image: linear-gradient(rgba(218,214,214,0.6), rgba(75,45,75,0.8)), url("Images/Pink_stone_texture.jpg");
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headerContainer{
    padding: 40vh 0;
    text-align: center;
    color: #E6E8E9;
}

.headerContainer h1, h2 {
    width: 100vw;
    padding: 5px 0;
    background-color: #FFA500;
}

.headerContainer h1 {
    padding-top: 15px;
    font-size: 3em;
}

.headerContainer h2 {
    padding-bottom: 15px;
    font-size: 2em;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #FFA500;
    color: #E6E8E9;
    border-top: 2px solid #E6E8E9;
    border-bottom: 2px solid #E6E8E9;
}

.navigation a {
    text-decoration: none;
    color: #E6E8E9;
}

#projects {
    border-top: 2px solid #E6E8E9;
}

button {
    border-radius: 5px;
    padding: 5px;
}

.navigation h3 {
    font-size: 2em;
    margin: 5px;
}

.navigation button {
    font-size: 1.5em;
    margin: 5px;
    border: 1px solid transparent;
    background-color: #DAD6D6;
    text-align: center;
    color: #4B2D4B;
}

.closeMore {
    display: none;
}

.full h2 {
    background-color: #DAD6D6;
    padding-left: 10px;
}

.full {
    height: auto;
    /* display: none; */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 0;
}

/* if any are over three containers they need to become way smaller */

.box {
    border: 1px solid #FFA500;
    height: 30vh;
    margin: 1px;
    padding: 10px;
}

.box h4 {
    padding: 5px 0;
    border-bottom: #DAD6D6 3px solid;
    font-size: 1.5em;
    font-weight: bold;
}

.box p {
    padding: 10px;
    text-align: justify;
    font-size: 1.1em;
}

footer {
    background-color: #DAD6D6;
    color: #F9F9F9;
    width: 100vw;
    padding: 5px 20px;
    bottom: 0;
    border-top: 2px solid #E6E8E9;
    display: flex;
    justify-content: space-between;
}

footer button{
    color: #E6E8E9;
    text-decoration: none;
    font-size: 1em;
    border: 1px #FFA500 solid;
    background-color: #FFA500;
}

#lightsheet {
    display: none;
}

/* laptops and above */
@media screen and (min-width: 768px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 5px 0;
    }

    .box {
        overflow: scroll;
        height: 50vh;
        width: 33.33%;
    }
}
