* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #4B2D4B;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 12px;
}

header {
  background-color: #DAD6D6;
  color: #4B2D4B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2 {
  font-size: 2em;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  background-color: #FFA500;
  color: #4B2D4B;
}

.navigation a {
  text-decoration: none;
  color: #4B2D4B;
}

.navigation button {
  border-radius: 5px;
  padding: 5px;
  font-size: 1.5em;
  margin: 5px;
  background-color: #DAD6D6;
  border: 1px transparent solid;
  text-align: center;
  color: #4B2D4B;
}

.navigation button:hover {
  cursor: pointer;
}

.navigation h3 {
  font-size: 2.5em;
  margin-left: 10px;
}

.more {
  display: none;
}

.full {
  height: auto;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
}

.box {
  height: 30vh;
  padding: 10px;
  color: #4B2D4B;
  overflow: scroll;
}

.box h4 {
  padding: 5px 0;
  border-bottom: #DAD6D6 3px solid;
  font-size: 1.5em;
  font-weight: bold;
}

.box p {
  margin-top: 10px;
  padding: 15px 15px;
  text-align: justify;
  font-size: 1.1em;
}

.project p:hover {
  background-color: #DAD6D6;
}

#formContact {
  height: auto;
}

.contactMethods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.contactMethods a {
  text-decoration: none;
  font-weight: bold;
  color: #4B2D4B;
  padding: 5px 0;
}

footer {
  background-color: #DAD6D6;
  width: 100vw;
  padding: 10px 20px;
  bottom: 0;
  text-align: right;
}

footer button {
  color: #e7e4e4;
  text-decoration: none;
  font-size: 1em;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #4B2D4B;
}

footer button:hover {
  cursor: pointer;
}

/* tablets and above */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 6em;
  }
  h2 {
    font-size: 3em;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .box {
    overflow: scroll;
    height: 30vh;
    width: 33.33%;
  }
}
/*# sourceMappingURL=main_light.css.map */