$background-color: #f9f9f9 ;
$font-color: #4B2D4B ;
$header-color: #FFA500;

$purple:#4B2D4B;
$orange: #FFA500;
$grey1: #f9f9f9;
$grey2: #e7e4e4;
$grey3: #DAD6D6;

$highlight-border: 2px solid greenyellow;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: $background-color;
    color: $font-color;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
}

header {
    background-color: $grey3;
    color: $purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 94vh;

    h1 {
        font-size: 4em;
        display: flex;
        align-items: center;
    }

    h2 {
        font-size: 2em;
    }
    
}

.notification {
    font-size: 2em;
    text-align: center;
    height: 6.1vh;
    background-color: $grey3;

    .fa-angle-down {
        font-size: 2em;          
    }

    .bounce {
        display: inline-block;
        position: relative;
        -moz-animation: bounce 1s infinite linear;
        -o-animation: bounce 1s infinite linear;
        -webkit-animation: bounce 1s infinite linear;
        animation: bounce 1s infinite linear;

    }

    @keyframes bounce {
        0% { top: 0; }
        50% { top: -0.2em; }
        70% { top: -0.3em; }
        100% { top: 0; }
    }
}

section {
    height: auto;
    width: 100vw;

    .header {
        font-size: 2.5em;
        background-color: $orange;
        height: 10vh;
        display: flex;
        align-items: center;
        padding-left: 10px;
    }

    article {
        padding: 0 10px;
    }
}

#projects {
    display: grid;
    grid-template-areas: ;

}




footer {
    background-color: $grey3;
    width: 100vw;
    padding: 10px 20px;
    bottom: 0;
    text-align: right;
    // display: flex;
    // justify-content: flex-end;

    button {
        color: $grey2;
        text-decoration: none;
        font-size: 1em;
        padding: 5px;
        border: 1px solid transparent;
        border-radius: 5px;
        background-color: $purple;

        &:hover {
            cursor: pointer;
        }
    }
}


/* tablets and above */
@media screen and (min-width: 768px) {

    header {
        h1 {
            font-size: 6em;
        }
        h2 {
            font-size: 3em;
        }
    }
    
    .container {
        display: flex;
        flex-direction: row;
    }

    .box {
        overflow: scroll;
        height: 30vh;
        width: 33.33%;
    }
}