* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #4B2D4B;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 12px;
}

header {
  background-color: #DAD6D6;
  color: #4B2D4B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 94vh;
}

header h1 {
  font-size: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h2 {
  font-size: 2em;
}

.notification {
  font-size: 2em;
  text-align: center;
  height: 6vh;
  background-color: #DAD6D6;
}

.notification .fa-angle-down {
  font-size: 2em;
}

.notification .bounce {
  display: inline-block;
  position: relative;
  -webkit-animation: bounce 1s infinite linear;
  animation: bounce 1s infinite linear;
}

@-webkit-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}

@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}

section {
  height: auto;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .header {
  font-size: 2.5em;
  background-color: #FFA500;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
}

section article {
  padding: 0 10px;
}

#projects {
  margin: 5px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "prj1 prj1" "prj2 prj3" "prj4 prj4" "prj5 prj6" "prj7 prj7" "prj8 prj9" "prj10 prj10";
  grid-gap: 5px;
}

#projects #prj1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: prj1;
}

#projects #prj2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: prj2;
}

#projects #prj3 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: prj3;
}

#projects #prj4 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: prj4;
}

#projects #prj5 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: prj5;
}

#projects #prj6 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: prj6;
}

#projects #prj7 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: prj7;
}

#projects #prj8 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: prj8;
}

#projects #prj9 {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  grid-area: prj9;
}

#projects #prj10 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: prj10;
}

#projects .prjBox {
  border: 1px solid #f9f9f9;
  height: 20vh;
  padding: 10px;
}

#projects .prjBox h3 {
  font-size: 1.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid #DAD6D6;
}

#projects .prjBox p {
  padding: 5px 0;
  text-align: justify;
}

#projects .prjBox .launch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 2em;
  padding: 5px;
}

#projects .prjBox .launch a {
  text-decoration: none;
  color: #4B2D4B;
}

#projects .prjBox:hover {
  background-color: #4B2D4B;
  color: #DAD6D6;
}

#projects .prjBox:hover a {
  color: #DAD6D6;
}

#cv {
  font-size: 2.5em;
  background-color: #f9f9f9;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  border-top: #FFA500 1px dotted;
}

#cv:hover {
  background-color: #FFA500;
}

#cv a {
  text-decoration: none;
  color: #4B2D4B;
  cursor: pointer;
  font-weight: bold;
}

footer {
  background-color: #DAD6D6;
  width: 100vw;
  padding: 10px 20px;
  bottom: 0;
  text-align: right;
}

footer button {
  color: #e7e4e4;
  text-decoration: none;
  font-size: 1em;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #4B2D4B;
}

footer button:hover {
  cursor: pointer;
}

/* tablets and above */
@media screen and (min-width: 600px) {
  header h1 {
    font-size: 6em;
  }
  header h2 {
    font-size: 3em;
  }
  section {
    height: 102vh;
  }
  section:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  section:nth-child(odd) .header h3 {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  section:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  section:nth-child(even) .header h3 {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  section .header {
    height: 102vh;
    width: 10vw;
    padding-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: black;
            box-shadow: black;
  }
  #projects {
    margin: auto;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "prj1 prj1 prj2 prj3" "prj4 prj5 prj5 prj5" "prj6 prj7 prj8 prj8" "prj9 prj9 prj9 prj10";
    grid-gap: 5px;
  }
  .prjBox {
    height: auto;
  }
}
/*# sourceMappingURL=main_light.css.map */