* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
    color: #271127;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

header {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(75,45,75,0.7)), url("Images/Pink_stone_texture.jpg");
    width: 100vw;
    height: auto;
}

.headerContainer{
    padding: 10px;
    margin: 20px;
    text-align: center;
    margin: auto 0;
    color: #E6E8E9;
}

.headerContainer h1 {
    font-size: 3.5em;
}

.headerContainer h2 {
    font-size: 2em;
}

.navigation {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    background-color: #FFA500;
    color: #E6E8E9;
    border-top: 
}

.navigation h3 {
    font-size: 2em;
    margin: 5px;
}

.navigation button {
    font-size: 1.5em;
    margin: 5px;
    border: 1px solid transparent;
    
}

footer {
    background-color: #4B2D4B;
    color: #F9F9F9;
    width: 100%;
    padding: 5px 20px;
    bottom: 0;
    text-align: right;
}

footer a {
    color: #E6E8E9;
    text-decoration: none;
}

/* laptops and above */
@media screen and (min-width: 895px) {
    header {
        text-align: center;
        height: 500px;
        min-width: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }



}
