$background-color: white ;
$font-color: black;
$header-color: #FFA500;

$purple:#4B2D4B;
$orange: #FFA500;
$grey1: white;
$grey2: #e7e4e4;
$grey3: #DAD6D6;

$highlight-border: 2px solid greenyellow;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: $background-color;
    color: $font-color;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4 {
    color: $purple;
}

section {
    width: 100vw;
    text-align: center;

    .header {
        background-color: $orange;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;

        h3 {
            font-size: 3em;
        }
    }

    .searchBar {
        margin-top: 10px;
        height: 40px;
        width: 100vw;

        input {
            height: 100%;
            width: 80%;
            border: 2px solid lightgrey;
            border-radius: 5px;
            font-size: 20px;
        }
    }
}

.detail {
    padding: 0 10px;
    margin: 5px;

    .box {
        padding: 10px;
        margin: 10px 0;

        h3 {
            font-size: 2em;
            padding-bottom: 10px;
            border-bottom: 2px solid $grey3;
        }

        p {
            padding: 5px;
            text-align: justify;
            font-size: 1.2em;
        }
    }
}

#projectDatabase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .regular {
        height: 450px;
    }

    .prjBox {
        width: 350px;
        position: relative;

        .description {
            display: none;
        }

        .prjImage {
            position: absolute;
            bottom: 55px;
            height: 200px;
            width: 95%;
            border: 2px solid $purple;

            img {
                height: 100%;
                width: 100%;
            }

        }

        .launch {
            position: absolute;
            bottom: 0;
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            height: 50px;
            font-size: 2em;
            padding: 5px;

            a {
                text-decoration: none;
                color: $purple;
                cursor: pointer;
            }
        }
        
        &:hover {
            background-color: $grey3;
            opacity: 0.8;

            h3 {
                border-bottom: 2px solid $grey1;
            }

            .description {
                display: block;
            }

            .prjImage {
                display: none;
            }
        }
    }
}

#spacer {
    height: 100px;
    width: 100vw;
}

#cv {
    position: fixed;
    bottom: 50px;
    font-size: 2.5em;
    background-color: $grey3;
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    
    &:hover {
        background-color: $purple;
        a {
            color: $grey2;
        }
    }

    a {
        text-decoration: none;
        color: $purple;
        cursor: pointer;
        font-weight: bold;
    }
}


footer {
    position: fixed;
    bottom: 0;
    background-color: $grey3;
    width: 100vw;
    height: 50px;
    padding: 10px 20px;
    bottom: 0;
    text-align: right;
}

button {
    color: $grey2;
    text-decoration: none;
    font-size: 1em;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: $purple;
    cursor: pointer;
    margin-right: 20px;

    &:hover {
        background-color: $grey2;
        color: $purple;
    }
}


/* tablets and above */
@media screen and (min-width: 787px) {

    #projectDB {
        height: auto;
    }


    #projectDatabase {
        .prjBox {
            width: 400px;
        }
    }


}