* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4 {
  color: #4B2D4B;
}

section {
  width: 100vw;
  text-align: center;
}

section .header {
  background-color: #FFA500;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

section .header h3 {
  font-size: 3em;
}

section .searchBar {
  margin-top: 10px;
  height: 40px;
  width: 100vw;
}

section .searchBar input {
  height: 100%;
  width: 80%;
  border: 2px solid lightgrey;
  border-radius: 5px;
  font-size: 20px;
}

.detail {
  padding: 0 10px;
  margin: 5px;
}

.detail .box {
  padding: 10px;
  margin: 10px 0;
}

.detail .box h3 {
  font-size: 2em;
  padding-bottom: 10px;
  border-bottom: 2px solid #DAD6D6;
}

.detail .box p {
  padding: 5px;
  text-align: justify;
  font-size: 1em;
}

#projectDatabase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#projectDatabase .large {
  height: 500px;
}

#projectDatabase .regular {
  height: 400px;
}

#projectDatabase .prjBox {
  width: 350px;
  position: relative;
}

#projectDatabase .prjBox .launch {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 2em;
  padding: 5px;
}

#projectDatabase .prjBox .launch a {
  text-decoration: none;
  color: #4B2D4B;
  cursor: pointer;
}

#projectDatabase .prjBox:hover {
  background-color: #DAD6D6;
  opacity: 0.8;
}

#spacer {
  height: 100px;
  width: 100vw;
}

#cv {
  position: fixed;
  bottom: 50px;
  font-size: 2.5em;
  background-color: white;
  width: 100vw;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10px;
  border-top: #FFA500 1px dotted;
}

#cv:hover {
  background-color: #FFA500;
}

#cv a {
  text-decoration: none;
  color: #4B2D4B;
  cursor: pointer;
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #DAD6D6;
  width: 100vw;
  height: 50px;
  padding: 10px 20px;
  bottom: 0;
  text-align: right;
}

button {
  color: #e7e4e4;
  text-decoration: none;
  font-size: 1em;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #4B2D4B;
  cursor: pointer;
  margin-right: 20px;
}

button:hover {
  background-color: #e7e4e4;
  color: #4B2D4B;
}

/* tablets and above */
@media screen and (min-width: 787px) {
  #projectDB {
    height: auto;
  }
  #projectDatabase .prjBox {
    width: 400px;
  }
}
/*# sourceMappingURL=projects.css.map */